<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Công Duẩn</div>
      <div>
        <a href="https://www.facebook.com/duan.pham.7965692" target="_blank"
          >Facebook</a
        >
        &middot;
        <a href="https://zalo.me/0974265824" target="_blank">Zalo</a>
      </div>
    </div>
  </div>
</footer>
